In [1]:
import pandas as pd
import re

#### 파일 입력

In [2]:
tmp = pd.read_csv('teample_1_result/special_word/economy_title.csv', sep=',', encoding='utf-8')

In [3]:
tmp.head()

   Unnamed: 0              날짜                                        제목
0           0  2018.11.13 (화)  에릭스도자기, '힐링요 건강조리기' 홍보 모델로 '요섹남' 이상민씨 발탁
1           1  2018.11.13 (화)             현대차, 장 중 10만원 붕괴…위기의 끝이 안 보인다
2           2  2018.11.13 (화)               배상철 한양대 류마티스내과 교수, 분쉬의학상 수상
3           3  2018.11.13 (화)         "급락은 남의 얘기"…최근 애널리스트가 목표가 올린 종목은?
4           4  2018.11.13 (화)   홍장표 주도 소주특위 “대기업 정규직 근로자 ‘나홀로 고임금’ 막아야”

#### 컬럼 정리

In [4]:
tmp.drop('Unnamed: 0',axis=1, inplace=True)

In [5]:
tmp.head()

               날짜                                        제목
0  2018.11.13 (화)  에릭스도자기, '힐링요 건강조리기' 홍보 모델로 '요섹남' 이상민씨 발탁
1  2018.11.13 (화)             현대차, 장 중 10만원 붕괴…위기의 끝이 안 보인다
2  2018.11.13 (화)               배상철 한양대 류마티스내과 교수, 분쉬의학상 수상
3  2018.11.13 (화)         "급락은 남의 얘기"…최근 애널리스트가 목표가 올린 종목은?
4  2018.11.13 (화)   홍장표 주도 소주특위 “대기업 정규직 근로자 ‘나홀로 고임금’ 막아야”

#### 핵심단어 들어간 타이틀 모으기 & 데이터프레임화하기

In [6]:
xlist = list()
x = '채용'

for i in range(len(tmp['제목'])):
    if x in tmp['제목'][i]:
        xlist.append(str(tmp['제목'][i]))
    else:
        pass
    xframe = pd.DataFrame({'제목' : xlist})

xframe

                                                  제목
0                        삼성 협력사 채용 한마당… 구직자 1만명이 몰렸다
1                    삼성전자, 전자계열사와 협력사 대상 ‘채용 한마당’ 개최
2                     SK텔레콤, 우수 협력사 17곳 위해 채용 박람회 개최
3                          롯데百, 하반기 채용부터 '편한 면접장' 운영
4                        경단녀를 시간제사원으로… LG유플러스, 공개 채용
5         “열정있는 ‘경단녀’ 모셔요”...LG유플러스, ‘시간선택제’ 영업인재 채용
6                        [단독] 금감원, 정작 법정에선 부당채용 '부인'
7                         中企 10곳 중 8곳 "하반기 채용 계획 없어"
8                      中企 10곳 중 8곳 "올해 하반기 '채용계획 없어"
9                   [팀장칼럼] 서부발전 채용문제 출제부정, 취준생에 '갑질'
10                          대우조선해양, 4년 만에 신입사원 채용 재개
11              조용병 신한금융 회장 "부족함 있는지 반성…채용 시스템 바꿀 것"
12          [컨콜] 삼성전기 "스마트폰 멀티플 카메라 채용 증가로 매출 성장 지속"
13        인천공항 정규직 전환 1만명중 경쟁채용 1%뿐… 민노총 "배수진 치고 관철"
14                  삼성전자, 다음달 '파견직' 운전기사 100여명 직접 채용
15   채용비리 연루의혹 38명, 정규직 뽑아놓고 "수사결과 위법 드러나면 그때 채용 취소"
16                   산하기관 채용비리 28건 밝혀내고도 강원도 솜방망이 징계
17                     정규직 전환 公共일자리 10만개… 공개채용은 15%뿐
18                   공기업, 고용세습…한전KPS 임직원 자녀 등 40명 채용
19                        '눈 가리고 아웅'하는 대기업 협력사 채용박람회
20                    금감원 노조 "채용비리 피해자에 사과하고 특별채용해야"
21                배터리 기술자를 모셔라...삼성·현대차·SK·LG 대규모 채용
22                 정부, 공기업·공공기관 압박… '단기 알바' 수천명 채용키로
23                        "사람 더 뽑게 기업 채용비용 낮춰주는게 고민"
24             [기업 브리핑] aT센터서 '2018 삼성 협력사 채용 한마당' 외
25                     삼성전자, 11월 12일 ‘협력사 채용 한마당’ 개최
26              연말 문 여는 ‘스타필드시티 위례’...신세계 ”1500명 채용”
27                       우리銀, 서울·부산 등 각 권역서 채용설명회 실시
28                       KEB하나銀, 하반기 최대 500명 신규채용 실시
29                  한컴그룹, 첫 그룹 공채 시작…신입·경력 약 200명 채용
..                                               ...
427                    회장 연임·채용비리 부메랑…최흥식 금감원장 결국 사임
428                            ‘채용비리 의혹’ 최흥식 금감원장 사임
429                            채용비리 단죄 나섰다 발목잡힌 금감원장
430                          채용비리 의혹 KEB하나은행 추가 압수수색
431                       채용비리 첫 구속…KB국민은행 인사팀장 영장발부
432                             유통업계, 상반기 신입사원 채용 돌입
433           현대차 오늘(2일) 상반기 신입·인턴 공채 시작…5~6일엔 채용설명회
434                     하이트진로 올해 총 100명 규모 신입사원 채용한다
435                  취업포털 사람인 "구직자 77%, 블라인드 채용 필요해"
436                        KAI, 올 신규 채용 700명 ‘역대 최대’
437                          코레일, 철도 해고자 특별채용 형태로 구제
438                       채용비리 하나은행 실무자 수첩서 윗선 개입 정황
439                  검찰, 함영주 하나은행장실 압수수색…채용비리 수사 본격화
440                           다이소, 올해 직원 3000명 신규 채용
441                     예대마진·채용비리…최고 실적에도 웃지 못하는 은행권
442                       금융권 ‘채용비리’ 논란…은행법 개정 불 붙였다
443                      [이슈+] ‘채용비리’ 후폭풍… 은행권 공방 가열
444             은행 특혜채용 VIP 리스트 또 있었다…하나 55명, KB 20명
445                         은행권 채용비리 논란…은행 노사갈등으로 확산
446                  우리은행, 공직자·VIP고객 청탁명부 작성해 금수저 채용
447                    농협, 청년일자리 창출을 위해 신규직원 370명 채용
448                        금감원장 "은행 채용비리 검사 결과 정확하다"
449                             금감원, 채용비리 의혹 은행 檢 통보
450                    경북대 상주캠퍼스 교수채용 잡음…전공 일치 여부 논란
451                   공공기관 채용비리 266명 퇴출…기관장 8명 즉시 해임
452               기재차관 "채용비리, 중대한 범죄행위…좌시할 수 없는 사회악"
453                     정원 늘리고 점수 몰아주고…신의 직장 채용비리 백태
454             [비전경영 특집] 신기술에 올해 19조 투자… 1만여명 신규 채용
455                   채용비리 강원랜드, 고강도 혁신 위해 외부 자문단 구성
456                      가상화폐 거래소 빗썸, 올해 정규직 400명 채용

[457 rows x 1 columns]

In [7]:
xframe.to_csv('teample_1_result/special_word/economy_sw_chaeyong_utf.csv', sep=',', encoding='utf-8')