# 함수
> - 함수 정의와 호출
- 변수의 유효 범위
- 람다(lambda) 함수
- 유용한 내장 함수

## 함수 정의와 호출

### 함수의 기본 구조

### 인자도 반환 값도 없는 함수

In [1]:
def my_func():
    print("My first function!")
    print("This is a function")

In [2]:
my_func()

My first function!
This is a function

### 인자는 있으나 반환 값이 없는 함수

In [3]:
def my_friend(friendName):
    print("{}는(은) 나의 친구입니다.".format(friendName))

In [4]:
my_friend("진수")
my_friend("희영")

진수는(은) 나의 친구입니다.
희영는(은) 나의 친구입니다.

In [5]:
def my_student_info(name, school_ID, phoneNumber):
    print("---------------------")
    print("- 학생이름: ", name)
    print("- 학급번호: ", school_ID)
    print("- 전화번호: ", phoneNumber)

In [7]:
my_student_info("진수", "01", "010-5676-3424")
my_student_info("희영", "02", "020-4929-4892")

---------------------
- 학생이름:  진수
- 학급번호:  01
- 전화번호:  010-5676-3424
---------------------
- 학생이름:  희영
- 학급번호:  02
- 전화번호:  020-4929-4892

In [9]:
def my_student_info(name, school_ID, phoneNumber):
    print("****************************")
    print("* 학생이름:", name)
    print("* 학급번호:", school_ID)
    print("* 전화번호:", phoneNumber)

In [10]:
my_student_info("진수", "01", "010-5676-3424")
my_student_info("희영", "02", "020-4929-4892")

****************************
* 학생이름: 진수
* 학급번호: 01
* 전화번호: 010-5676-3424
****************************
* 학생이름: 희영
* 학급번호: 02
* 전화번호: 020-4929-4892

### 인자도 있고 반환 값도 있는 함수

In [11]:
def my_calc(x, y):
    z = x*y
    return z

In [12]:
my_calc(3,4)

12

In [15]:
def my_student_info_list(student_info):
    print("****************************")
    print("* 학생이름:", student_info[0])
    print("* 학급번호:", student_info[1])
    print("* 전화번호:", student_info[2])
    print("****************************")

In [16]:
student1_info = ["찬영", "01", "010-2345-6789"]
my_student_info_list(student1_info)

****************************
* 학생이름: 찬영
* 학급번호: 01
* 전화번호: 010-2345-6789
****************************

In [17]:
my_student_info_list(["찬영", "01", "010-2345-6789"])

****************************
* 학생이름: 찬영
* 학급번호: 01
* 전화번호: 010-2345-6789
****************************

## 변수의 유효 범위

In [1]:
a = 5 # 전역 변수

def func1():
    a = 1 # 지역 변수. func1()에서만 사용
    print("[func1] 지역 변수 a =", a)

def func2():
    a = 2 # 지역 변수. func2()에서만 사용
    print("[func2] 지역 변수 a =", a)  
    
def func3():
    print("[func3] 전역 변수 a =", a)   
    
def func4():
    global a  # 함수 내에서 전역 변수 변경 위해 선언
    a = 4      # 전역 변수의 값 변경
    print("[func4] 전역 변수 a =",a)

In [2]:
func1() #함수 func1() 호출
func2() #함수 func2() 호출
print("전역 변수 a =", a) # 전역 변수 출력

[func1] 지역 변수 a = 1
[func2] 지역 변수 a = 2
전역 변수 a = 5

In [3]:
func3() #함수 func3() 호출
func4() #함수 func4() 호출
func3() #함수 func3() 호출

[func3] 전역 변수 a = 5
[func4] 전역 변수 a = 4
[func3] 전역 변수 a = 4

func3을 처음 출력했을 때는 지역변수인 a=5가 출력되지만,
두번째 출력 시에는 global 명령어에 의해 전역변수가 출력되어 a=4가 출력된다.

## 람다(lambda) 함수

In [1]:
(lambda x : x**2) (3)

9

In [2]:
mySquare = lambda x : x**2
mySquare(2)

4

In [3]:
mySquare(5)

25

In [4]:
mySimpleFunc = lambda x,y,z : 2*x + 3*y + z
mySimpleFunc(1,2,3)

11

## 유용한 내장 함수

### 형 변환 함수

정수형으로 변환

In [5]:
[int(0.123), int(3.5123345), int(-1.31245)]

[0, 3, -1]

In [6]:
[int('1234'), int('5678'), int('-9012')]

[1234, 5678, -9012]

실수형으로 변환

In [7]:
[float(0), float(123), float(-567)]

[0.0, 123.0, -567.0]

In [8]:
[float('10'), float('0.123'), float('-567.89')]

[10.0, 0.123, -567.89]

문자형으로 변환

In [9]:
[str(123), str(459678), str(-987)]

['123', '459678', '-987']

In [10]:
[str(0.123), str(345.678), str(-5.987)]

['0.123', '345.678', '-5.987']

리스트, 튜플, 세트형으로 변환¶

In [11]:
list_data  = ['abc', 1, 2, 'def']
tuple_data = ('abc', 1, 2, 'def')
set_data   = {'abc', 1, 2, 'def'}

In [12]:
[type(list_data), type(tuple_data), type(set_data)]

[list, tuple, set]

In [13]:
print("리스트로 변환: ", list(tuple_data), list(set_data))

리스트로 변환:  ['abc', 1, 2, 'def'] ['abc', 1, 2, 'def']

In [14]:
print("튜플로 변환:", tuple(list_data), tuple(set_data))

튜플로 변환: ('abc', 1, 2, 'def') ('abc', 1, 2, 'def')

In [15]:
print("세트로 변환:", set(list_data), set(tuple_data))

세트로 변환: {'abc', 1, 2, 'def'} {'abc', 1, 2, 'def'}

### bool 함수

숫자를 인자로 bool 함수 호출

In [17]:
bool(0) # 인자: 숫자 0

False

In [18]:
bool(1) # 인자: 양의 정수

True

In [20]:
bool(-10) # 인자: 음의 정수

True

In [21]:
bool(5.12) # 인자: 양의 실수

True

In [22]:
bool(-3.26) # 인자: 음의 실수

True

문자열을 인자로 bool 함수 호출

In [23]:
bool('a') # 인자: 문자열 'a'

True

In [24]:
bool(' ') # 인자: 빈 문자열(공백)

True

In [25]:
bool('') # 인자: 문자열 없음

False

In [26]:
bool(None) #인자: None

False

리스트, 튜플, 세트를 인자로 bool 함수 호출

In [27]:
myFriends = []
bool(myFriends) # 인자: 항목이 없는 빈 리스트

False

In [28]:
myFriends = ['James', 'Robert', 'Lisa', 'Mary']
bool(myFriends) # 인자: 항목이 있는 리스트

True

In [29]:
myNum = ()
bool(myNum) # 인자: 항목이 없는 빈 튜플

False

In [30]:
myNum = (1,2,3)
bool(myNum) # 인자: 항목이 있는 튜플

True

In [31]:
mySetA = {}
bool(mySetA) # 인자: 항목이 없는 빈 세트

False

In [32]:
mySetA = {10,20,30}
bool(mySetA) # 인자: 항목이 있는 세트

True

bool 함수의 활용

In [33]:
def print_name(name):
    if bool(name):
        print("입력된 이름:", name)
    else:
        print("입력된 이름이 없습니다.")

In [34]:
print_name('진수')

입력된 이름: 진수

In [35]:
print_name("")

입력된 이름이 없습니다.

### 최소값과 최대값을 구하는 함수

In [36]:
myNum = [10, 5, 12, 0, 3.5, 99.5, 42]
[min(myNum), max(myNum)]

[0, 99.5]

In [37]:
myStr = 'zxyabc'
[min(myStr), max(myStr)]

['a', 'z']

In [38]:
myNum = (10, 5, 12, 0, 3.5, 99.5, 42)
[min(myNum), max(myNum)]

[0, 99.5]

In [39]:
myNum = {"Abc", "abc", "bcd", "efg"}
[min(myNum), max(myNum)]

['Abc', 'efg']

### 절대값과 전체 합을 구하는 함수

In [40]:
[abs(10), abs(-10)]

[10, 10]

In [41]:
[abs(2.45), abs(-2.45)]

[2.45, 2.45]

In [42]:
sumList = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sum(sumList)

55

### 항목의 개수를 구하는 함수

In [43]:
len("ab cd") # 문자열

5

In [44]:
len([1, 2, 3, 4, 5, 6, 7, 8]) # 리스트

8

In [45]:
len((1, 2, 3, 4, 5)) # 튜플

5

In [46]:
len({'a', 'b', 'c', 'd'}) # 세트

4

In [47]:
len({1:"Thomas", 2:"Edward", 3:"Henry"}) # 딕셔너리

3

### 내장 함수의 활용

In [48]:
scores = [90, 80, 95, 85] # 과목별 시험 점수

score_sum = 0                     # 총점 계산을 위한 초깃값 설정
subject_num = 0                   # 과목수 계산을 위한 초깃값 설정
for score in scores:
    score_sum = score_sum + score # 과목별 점수 모두 더하기
    subject_num = subject_num + 1 # 과목수 계산
    
average = score_sum / subject_num # 평균(총점 / 과목수) 구하기

print("총점:{0}, 평균:{1}".format(score_sum,average))

총점:350, 평균:87.5

In [49]:
scores = [90, 80, 95, 85] # 과목별 시험 점수

print("총점:{0}, 평균:{1}".format(sum(scores), sum(scores)/len(scores)))

총점:350, 평균:87.5

In [50]:
print("최하 점수:{0}, 최고 점수:{1}".format(min(scores), max(scores)))

최하 점수:80, 최고 점수:95